@page
@model AspNetCoreDemo.Pages.WelcomeModel
@{
}

<h1>Welcome</h1>
<form method="Post">
    <input type="text" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <p></p>
    <input type="submit" value="Submit" />
</form>

<p></p>
<h2>@Model.Message </h2>